

.footer {
  @include flex-column;
  background-color: $colorFooter;

  &__logo {
    font-family: "Shrikhand", serif;
    color: $colorWhite;
    @include font ($text-large, $weight-medium);
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
  }

  &__list {
    color: $colorWhite;
    @include font ($text-size, $weight-medium);
   @include flex-column;
    list-style: none;
    padding-left: 20px;
    margin-bottom: 0;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
  }

  &__icon {
    display: flex;
    width: 11px;
  }
&__text {
    display: flex;
    flex-direction: column;
   }
   &__paragraph {
    color: $colorWhite;
    @include font ($text-size, $weight-medium-s);
    margin: 0;
     text-decoration: none;  
    padding-bottom: 5px;
      padding-left: 20px;
      padding-top: -20px;
   }
   &__link {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: $colorWhite;
}


}