
.button {
  /***bouton général****/
  @include font($text-size, $weight-medium);
  padding: 15px 15px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  color: $colorWhite;
  border: none;
  

}

.button--cta {
  background: linear-gradient($colorSecondaire, $colorPrimaire);

  box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  margin-top: 15px;
}
.button--large{
  width: 60%;
  @include flex-center;
  height: 20px;
}
.button--cta:hover {
  transform: scale(1.01);
  opacity: 0.9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}