
.card {
  background-color: $colorWhite;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;


  &__img {
    width: 100%;
    height: 180px;
    object-fit: cover;


  }

  &__content {
    padding: 15px;

  }

  &__subtitle {
    @include font ($h3-size, $weight-bold);
    margin: 0;
  }

  &__location {
    @include font ($text-size-s, $weight-medium-s);
    margin-top: 2px;

  }

  &__etiquette {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: $colorTertiaire;
    color: $coloretiquette;
    border-radius: 2px;
    padding: 5px 10px;
   @include font ($text-size-s, $weight-medium);
  }

  &__like{
    position: absolute;
    right: 20px;
    bottom: 40px;
    width: 22px;
    height: 21px;

    cursor: pointer;
}

.card__heart,
.card__heart--empty {
    position: absolute;
    top: 0;
    left: 0;
}

/* coeur vide visible */
.card__heart--empty {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

/* coeur rempli caché */
.card__heart {
    clip-path: inset(100% 0 0 0);
    transition: clip-path 0.5s ease;
}

/*  HOVER */
.card__like:hover .card__heart {
    clip-path: inset(0 0 0 0);
}

.card__like:hover .card__heart--empty {
    opacity: 0;
}
  }

   
    
  

.card-link {
  text-decoration: none;
  color: inherit;
}