
@media (min-width: 1024px) {
    
.header {
    &__back i {
        left: 0;
        bottom: 20px;
        font-size: 24px;
    }
}
    

 
 
 
    .fonctionnement{
margin: 0 auto;
 &__title{
    margin-left: 150px;}


        
        
    &__list{
        
        flex-direction: row;
        justify-content: center;
       gap: 40px;
    }
    &__item{
        width: calc((73% - 40px)/3);
        white-space: nowrap;

    }
 }   

.restaurants {
 margin: 0 auto;
 &__title {
    margin-left: 160px;}
 

  
    &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   row-gap: 50px;
   column-gap: 100px;
    justify-content: center;
    
  }

}
.card-link {
    width: calc((77% - 100px) / 2)
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
    align-items: center;
    gap: 10px;
    padding: 1px 80px;
    padding-top: 50px;

    &__logo{
        
       margin-top: -10px;
        order: 2;
    }
    &__list{
        order: 1;
        flex-direction: row;
        gap: 15px;
        margin-bottom: 12px;
        margin-right: 20px;
       
    }
    &__text{
        order: 1;
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-right: 50px;
    }
    
    

}
.menu{
    &__title-texte{
        text-align: center;
       
    }
       &__content{
     width: 80%;
     margin: 0 auto;
    }
    &__section{
        margin: 0 auto;
        width: 50%;
    }
    &__button {
        width: 50%;
        margin: 0 auto;
       
        
    }
   
       
    
}

}