$colorPrimaire: #9356dc;
$colorSecondaire: #ff79da;
$colorTertiaire: #99e2d0;
$colorWhite: #ffffff;
$colorBlack: #101010;
$colorGrey: #808080;
$colorGreyLight: #eaeaea;
$colorGreyBg: #f6f6f6;
$colorFooter: #353535;
$coloretiquette:#008766;

$text-size-s: 14px;
$text-size: 16px;
$text-large: 18px;
$titre-size: 24px;
$titre-size-large: 28px;
$h3-size: 18px;

$weight-light:300;
$weight-medium-s:400;
$weight-medium:500;
$weight-bold:700;

