$colorPrimaire:#9356dc;
$colorSecondaire:#ff79da;             /***variable***/
$colorTertiaire:#99e2d0;

$text-size:16px;
$text-large:18px;
$titre-size:24px;
$h3-size:18px;

$weight-light:300;
$weight-medium:500;
$weight-bold:700;

